# Database Configuration
DATABASE_URL=postgresql+psycopg2://user:pass@localhost/Restaurant

# OpenAI API Key
OPENAI_API_KEY=sk-...

# LangChain Configuration
LANGSMITH_TRACING=true
LANGSMITH_API_KEY=...
LANGSMITH_PROJECT=Restaurant-copilot
