# Database Configuration
DATABASE_URL=postgresql+psycopg2://user:pass@localhost/Restaurant

# OpenAI API Key
OPENAI_API_KEY=sk-...

# LangChain Configuration
LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY=...
LANGCHAIN_PROJECT=Restaurant-copilot
